<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="./css/styles.css">
<script src="/js/app.js"></script>
</head>
<body>
<div class="main-content">
    {{>header}}
<img class="portait" src="/img/photo.png">
<p>Priya</p>
</div>

{{>footer}}
</body>
</html>